@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    /* background-color: #000000; */
    text-decoration: none;
    /* border: none; */
    /* outline: none; */
    scroll-behavior: smooth;
    font-family: 'Poppins', sans-serif;
}

:root {
    --bg-color: #000000;
    --hover-color: #12f7ff;
    --second-bg-color: #323946;
    --big-font: 2.5rem;
    --normal-font: 2rem;
    --neon-box-shadow: 0 0 .5rem #12f7ff;
    --h2-font: 3rem;
    --text-color: #f5f5f5;
    --font-neon-text-shadow: 0 0 10px rgba(18, 247, 255, 0.3),
    0 0 20px rgba(18, 247, 255, 0.3),
    0 0 30px rgba(18, 247, 255, 0.3),
    0 0 40px rgba(18, 247, 255, 0.3),
    0 0 70px rgba(18, 247, 255, 0.3),
    0 0 80px rgba(18, 247, 255, 0.3),
    0 0 100px rgba(18, 247, 255, 0.3),
    0 0 150px rgba(18, 247, 255, 0.3);
}

body {
    -font-family: "Poppins", sans-serif;
    background-color: var(--bg-color) !important;
    color: var(--text-color);
}

span {
    color: var(--hover-color);
}

/* Header */
header {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    z-index: 9997;
    transition: all 0.5s;
    padding: 15px;
    overflow-y: auto;
}

/* Navigation */
.nav-menu {
    top:-3%;
    padding: 0;
    display: block;
}
.nav-menu * {
    /* top:35%; */
    margin: 0;
    padding: 0;
    list-style: none;
}
.nav-menu>ul>li {
    position: relative;
    white-space: nowrap;
}
.nav-menu a,
.nav-menu a:focus {
    display: flex;
    align-items: center;
    color: #020855bf;
    padding: 10px 18px;
    margin-bottom: 8px;
    transition: 0.3s;
    font-size: 15px;
    border-radius: 50px;
    background: black;
    height: 56px;
    width: 100%;
    overflow: hidden;
}
.nav-menu a i,
.nav-menu a:focus i {
    /* color: #1586f7 !important; */
    font-size: 20px;
    background: none;
}

.nav-menu a span,
.nav-menu a:focus span {
    padding: 0 5px 0 7px;
    /* color: #1586f7 !important; */
    background: none;
}

.nav-menu a,
.nav-menu a:focus {
    background: none;
    /* color: #1586f7 !important; */
    width: 56px;
}
.nav-menu a span,
.nav-menu a:focus span {
    background: none;
    display: none;
    color: #fff !important;
}

.nav-menu a:hover,
.nav-menu .active,
.nav-menu .active:focus,
.nav-menu li:hover>a {
    color: #fff !important;
    background: #020855bf !important;
}

.nav-menu a:hover span,
.nav-menu .active span,
.nav-menu .active:focus span,
.nav-menu li:hover>a span {
    color: #fff !important;
    background: none;
}
.nav-menu a:hover,
.nav-menu li:hover>a {
    width: 100%;
    color: #fff !important;
    background: none;
}
.nav-menu a:hover span,
.nav-menu li:hover>a span {
    /* color: #1586f7 !important; */
    display: block;
    background: none;
}

/* Home Page  */
section {
    padding: 100px 10%;
    margin-top: -10%;
}

.home {
    min-height: 100vh;
    height: 100%;
    margin-top: 2%;
    width: 100%;
    left: 40%;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    align-items: center;
    grid-gap: 4em;
    margin-left: 4.7%;
}
.home-content {
    max-width: 600px;
}
.home-content h1 {
    font-size: var(--big-font);
    font-weight: 700;
    color: #858484;
}
.home-content p {
    color: #7a7171;
    line-height: 1.6;
}

.change-text {
    font-size: 1.5rem;
    font-weight: 600;
}
.change-text h3 {
    display: inline-flex;
    color: #918e8e;
    margin: 0;
    vertical-align: top;
}
.change-text h3 span {
    color: #251083;
}
.change-text h3 .word{
    position: absolute;
    display: flex;
    opacity: 0;
}
.change-text h3 .word .letter {
    transform-origin: center center 25px;
}
.change-text h3 .word .letter.out {
    transform: rotateX(90deg);
    transition: 0.32s cubic-beziar(0.6,0,0,7,0.2);
}
.change-text h3 .word .letter.in {
    transition: 0.38s ease;
}
.change-text h3 .word .letter.behind {
    transform: rotateX(-90deg);
}
.btn-box {
    display: flex;
    justify-content: space-between;
    width: 320px;
    height: 45px;
}
.btn-box .btn{
    display: inline-flex;
    justify-content: center;
    margin-top: 6%;
    align-items: center;
    width: 150px;
    height: 100%;
    background: #010122bf;
    color: rgb(141, 248, 248);
    font-size: 1rem;
    letter-spacing: 1px;
    font-weight: 600;
    transition: .6s;
    box-shadow: #4cbbeebf;
    border-radius: 5px;
    position: relative;overflow: hidden;
    z-index: 1;
    border: 2px solid #505053bf;
}
.btn:hover {
    color: black;
}
.btn::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    background: #020855bf;
    width: 20;
    height: 100%;
    z-index: -1;
    transition: .7s;
}
.btn:hover::before {
    width: 100%;
    background-color: rgb(115, 194, 247);
}
.btn:nth-child(2){
    background: var(--bg-color);
    color: var(--hover-color);
}
.btn:nth-child(2):hover {
    color: var(--bg-color);
}
.btn:nth-child(2)::before{
    background: rgb(115, 194, 247);
}

.home-image {
    position: relative;
}
.img-box{
    text-align: center;
}
.img-box img {
    margin-bottom: 10%;
    width: 100%;
    margin-left: 94%;
    margin-top: -55%;
    max-width: 570px;
    height: auto;
}

.liquid-shape {
    /* background-color: #50cadabf; */
    position: absolute;
    width: 60%;
    margin-left: 135%;
    margin-top: -40%;
    height: 60%;
    z-index: -1;
    top: 1%;
}
.liquid-shape:nth-child(2){
    opacity: 0.9;
    filter: blur(70px)
}

.main-text {
    width: 100%;
    text-align: center;
    margin-top: 2%;
    margin-left: 3.5%;
    width: 100%;
    left: 40%;
    margin-bottom: 2rem;
    color: var(--hover-color);
}
.main-text h2 {
    font-weight: 700;
    font-size: var(--normal-font);
}


.section-rules {
    display: flex;
    margin-top: 0;
    margin-left: 4.7%;
    width: 100%;
    left: 40%;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    grid-gap: 2rem;
}
.main-text h2 span{
    margin-top: -25% !important;
}
.section-rules li {
    font-size: 15px;
    color: #918e8e;
}
.section-rules li span{
    color: #300eca;
}

@media (max-width: 966px) {
    .home h1 {
        font-size: 2em;
    }
    .change-text h3{
        font-size: 1.5rem;
    }
}

@media (max-width: 1146px) {
    #header {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .nav-menu {
        position: fixed;
        top: -38%;
        left: 0;
        width: 100%;
        background: transparent;
        z-index: 1000;
    }

    .nav-menu a,
    .nav-menu a:focus {
        width: 100%;
        padding: 10px 18px;
        text-align: left;
    }

    .nav-menu a span,
    .nav-menu a:focus span {
        display: inline;
    }
}

@media (max-width: 890px) {
    .home-image {
        display: none;
    }
}

@media (max-width: 518px) {
    .change-text span {
        overflow: hidden;
    }
    .home-content h1 {
        font-size: 1.5em;
    }
    .change-text h3 {
        font-size: .8em;
    }
}
